@using WebSRS.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebSRS</title>
    @MyHelper.CreateLink(Html, "icon", "/img/logo.jpg")
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/siteF.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @MyHelper.CreateAnchor(Html,"GGI", "navbar-brand", "/Index")
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @MyHelper.CreateAnchor(Html,"Globus", "nav-link text-dark", "/Globus")
                        </li>
                        <li class="nav-item">
                            @MyHelper.CreateAnchor(Html, "Cities", "nav-link text-dark", "/Cities")
                        </li>
                        <li class="nav-item">
                            @MyHelper.CreateAnchor(Html, "Login", "nav-link text-dark", "/LoginPage")
                        </li>
                        <li class="nav-item">
                            @MyHelper.CreateAnchor(Html, "Register", "nav-link text-dark", "/Register")
                        </li>
                        <li class="nav-item">
                            @MyHelper.CreateAnchor(Html, "About HUB", "nav-link text-dark", "/Privacy")
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - GGI - @MyHelper.CreateAnchor(Html,"About HUB","abouthub","/Privacy")
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
